@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
    NOTE FOR CURIOUS DEVELOPERS:
    This is a compress css files, but if you are reading this you probably  want to see the code in a more legible way. You can find it here: https://github.com/nahuelsotelo/nahuelsotelo-v4.0
*/
/* ============== [ INDEX ] ==============

*** BASE STYLES ***
*** COMPONENTS ***
*** LAYOUT ***
*** HELPERS ***

======================================== */
/* ------------------------------------------------------------ */
/* ---------------------------------------- */
/* -------------------- */
/* --------------------------------------------------------------------------------
   *** BASE STYLES ***
-------------------------------------------------------------------------------- */
/* =TYPOGRAPHY
-------------------------------------------------------------------------- */
body {
  color: #222222;
  font-family: "Vollkorn", serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
}

/* =HEADINGS
------------------------------------------------------ */
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;
}

.brand__name, .mail a {
  color: #e45635;
  font-family: "League Gothic", Impact, sans-serif;
}

.brand {
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}

.brand__hello {
  display: block;
  font-family: "Cookie", cursive;
  font-size: 79px;
  font-size: 4.9375rem;
  line-height: 0.781;
  font-weight: normal;
}

.brand__my-name {
  display: inline-block;
  font-family: "Gentium Book Basic", serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.389;
  font-style: italic;
  font-weight: normal;
  position: relative;
}
.brand__my-name:before, .brand__my-name:after {
  background: #222222;
  content: '';
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  width: 80%;
  height: 1px;
}
.brand__my-name:before {
  left: -90%;
}
.brand__my-name:after {
  right: -90%;
}

.brand__name {
  display: block;
  font-size: 101px;
  font-size: 6.3125rem;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
}

.mail span {
  display: block;
  font-family: "Gentium Book Basic", serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 0.78125;
  font-style: italic;
  font-weight: normal;
}
.mail a {
  font-size: 57px;
  font-size: 3.5625rem;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
}

p {
  margin-bottom: 1em;
}

a {
  color: #cb3c1b;
  font-family: "PT Mono", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
a:hover {
  color: #cb3c1b;
}

/* --------------------------------------------------------------------------------
   *** COMPONENTS ***
-------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
   *** LAYOUT ***
-------------------------------------------------------------------------------- */
/* =GENERAL LAYOUT
-------------------------------------------------------------------------- */
*
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white url(../img/paper_fibers.png);
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 0 #fff;
}

.main-wrapper {
  margin: 2.469em auto;
  max-width: 65em;
}

.brand,
.main-content {
  margin-bottom: 3.161em;
}

.main-content {
  *zoom: 1;
}
.main-content:before, .main-content:after {
  content: "";
  display: block;
}
.main-content:after {
  clear: both;
}

.portrait {
  width: 21.05263%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
  margin-left: 39.47368%;
  position: relative;
}
.portrait svg {
  fill: #222222;
  -webkit-filter: drop-shadow(1px 1px 0 white);
  filter: drop-shadow(1px 1px 0 white);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  max-width: 70%;
  height: 12em;
}
.portrait:before, .portrait:after {
  background-repeat: no-repeat;
  background-position: center center;
  content: '';
  display: block;
  font-size: 47px;
  font-size: 2.9375rem;
  position: absolute;
  top: 1em;
  right: -.15em;
  width: 1.75em;
  height: 1.75em;
}
.portrait:before {
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  z-index: 1;
}
.portrait:after {
  background: url(../img/ballon.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  content: 'Hi';
  font-family: "Cookie", cursive;
  line-height: 1.8em;
  text-align: center;
  text-indent: -.1em;
}
.portrait.is--twitter:after {
  content: '';
}
.portrait.is--twitter:before {
  background-image: url(../img/twitter.svg);
}

.intro {
  width: 36.84211%;
  float: left;
  margin-right: 2.63158%;
  display: inline;
  margin-left: -63.15789%;
  text-align: right;
}

.social {
  width: 36.84211%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

.intro p:last-of-type,
.social p:last-of-type {
  margin-bottom: 0;
}

.mail {
  clear: both;
  text-align: center;
}
