@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$c-text: #341c00;

$t-serif: 'Gentium Book Basic', serif;
$t-sans: 'Oxygen', sans-serif;

// =TYPOGRAPHY
//--------------------------------------------------------------------------
    body {
        background: #f5f2ef;
        color: $c-text;
        font-family: $t-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
    }
    h1,h2,h3,h4,h5,h6,
    p, ul, ol {
        margin-top: 0;
    }
    .section-title {
        border-bottom: 1px solid rgba($c-text, .3);
        font-family: $t-sans;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;
        text-transform: uppercase;

        + p {
            margin-bottom: 2.5rem;
        }
    }
    .section-subtitle {
        color:rgba($c-text, .6);
        font-family: $t-sans;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 300;
        margin: 1rem 0 1rem;
    }
    .item__title {
        font-size: 0;
        line-height: 1.5rem;
        margin: 0;

        strong {
            display: block;
            font-family: $t-sans;
            font-size: 1.5rem;
            line-height: 1.75rem;
            font-weight: 600;
            margin-bottom: .25rem;

            .skills & {
                font-size: 1.25rem;
                line-height: 1.25rem;
            }
        }
        em {
            display: block;
            color: lighten($c-text, 15%);
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.75rem;
            margin-bottom: .25rem;

            a {
                color: lighten($c-text, 5%);
            }
        }
    }
    li {
        p {
            color: rgba($c-text, .5);
            font-size: .75rem;
            font-family: $t-sans;
            font-weight: 600;
            margin: 0;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            a {
                color: rgba($c-text, .7);
                display: inline-block;
                letter-spacing: 0;
                padding: .25rem;
            }
        }
    }



// =LAYOUT
//--------------------------------------------------------------------------
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    .clearfix {
        &:before,
        &:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }
        &:after {
            clear: both;
        }
    }
    .main-wrapper {
        margin: 0 auto;
        max-width: 60em;
    }
    .section-group {
        &:after {
            color: rgba($c-text, .5);
            content: '\2B26\2B26\2B26';
            display: block;
            letter-spacing: 1rem;
            padding: 3rem 0;
            text-align: center;
        }

        > section {
            width: 46%;
        }
    }
    .section-left {
        float: left;
    }
    .section-right {
        float: right;
    }
    .subsection {
        margin-bottom: 4rem;
    }


// =HEADER
//--------------------------------------------------------------------------
    .profile {
        margin: 2rem 0;
        padding-bottom: 3rem;
        position: relative;
    }
    .profile__title {
        float: left;
    }
    .profile__photo {
        border-radius: 50%;
        box-shadow: 0 0 1px rgba($c-text, .4);
        float: left;
        margin-right: 1rem;
        overflow: hidden;
        width: 8rem;
        height: 8rem;

        img {
            max-width: 100%;
        }
    }
    .profile__name {
        font-family: $t-sans;
        font-weight: 300;
        font-size: 4rem;
        line-height: 1;
        padding-bottom: 1rem;
        margin-bottom: .25rem;
        position: relative;

        &:after {
            border-bottom: 1px dotted rgba($c-text, .5);
            content: '';
            display: block;
            position: absolute;
                bottom: 0;
                left: .25rem;
            width: 4rem;
        }
    }
    .profile__tagline {
        color: lighten($c-text, 15%);
        font-size: 2rem;
        font-style: italic;
        margin-bottom: 1rem;
    }
    .profile__intro {
        clear: both;
        font-size: 1.25rem;
        line-height: 1.3;
        margin-bottom: 0;
        width: 65%;
    }


// =CONTACT
//--------------------------------------------------------------------------
    .contact {
        border-left: 1px dotted rgba($c-text, .3);
        padding: 1rem 0 1.5rem 1rem;
        position: absolute;
            top: 2.5rem;
            right: 0;
        width: 35%;

        li {
            font-family: $t-sans;
            font-size: 1rem;
            margin-bottom: .5rem;

            &:last-child { margin-bottom: 0; }
        }
        strong {
            display: inline-block;
            font-size: .875rem;
            margin-right: .5rem;
            text-transform: uppercase;
            text-align: right;
            min-width: 5em;
        }
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }


// =ITEM
//--------------------------------------------------------------------------
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .section-group {
        li {
            margin-bottom: .75rem;
            position: relative;
            padding-bottom: 1rem;

            &:after {
                border-bottom: 1px dotted rgba($c-text, .5);
                content: '';
                display: block;
                position: absolute;
                    bottom: 0;
                    left: .25rem;
                width: 2rem;
            }
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;

                &:after {
                    display: none;
                }
            }
        }
    }


// =SKILLS
//--------------------------------------------------------------------------
.skills-group {
    margin-bottom: 2.5rem;
}
.skills {
    width: 46%;

    ul {
        padding-left: .5rem;
        margin-top: .5rem;
    }
    li {
        color: rgba($c-text, .8);
        font-family: $t-sans;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: .25rem;
        padding-bottom: 0;
        text-transform: uppercase;

        &:after {
            border: 0;
            color: rgba($c-text, .4);
            display: inline-block !important;
            font-family: serif;
            font-size: 1em;
            margin-left: .25rem;
            position: relative;
                top: -.15em;
                left: 0;
            width: 2rem;
        }
        &.st-1 {
            color: rgba($c-text, .4);
            &:after { content: '\2B51'; }
        }
        &.st-2 {
            color: rgba($c-text, .5);
            &:after { content: '\2B51\2B51'; }
        }
        &.st-3 {
            color: rgba($c-text, .6);
            &:after { content: '\2B51\2B51\2B51'; }
        }
        &.st-4 {
            color: rgba($c-text, .8);
            &:after { content: '\2B51\2B51\2B51\2B51'; }
        }
        &.st-5 {
            color: rgba($c-text, 1);
            &:after { content: '\2B51\2B51\2B51\2B51\2B51'; }
        }
    }
}


// =PRINT STYLES
//--------------------------------------------------------------------------
    @media print {
        html {
            font-size: 70%;
        }
        .section-group {
            page-break-after: always;
        }
    }