@import 'cv';

#portfolio {
  @media screen and (min-width: 60em), print {
    .section-group > section {
        width: 70%;
    }
  }

  h1, .h1 {
    margin-bottom: 2rem;
  }

  h3,.h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    
    a {
      color: lighten($c-text, 15%);
      cursor: pointer;
      text-decoration: none;
    }
  }

  .t-featured {
    color: inherit;
    font-family: $t-sans;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.25rem;
    margin-bottom: .5rem;

    a {
      color: lighten($c-text, 5%);
    }
  }

  .t-small {
    margin-bottom: 1rem;
    
    + .t-small {
      margin-top: -.75rem;
    }

    a {
      cursor: pointer;
      padding: 0;
      text-decoration: none;
    }
  }

  .icon {
    display: inline-block;
    fill:  rgba($c-text, .8);
    height: .75rem;
    margin-left: .25rem;
    position: relative;
    top: 1px;
    width: .75rem;
  }
}