/* =TYPOGRAPHY
-------------------------------------------------------------------------- */
// Scale: http://modularscale.com/scale/?px1=18&px2=25&ra1=1.778&ra2=0

body {
    color: $c-text;
    font-family: $f-text;
    @include font($base-font-size);
    font-weight: 300;
    line-height: $base-line-height;
}

    /* =HEADINGS
    ------------------------------------------------------ */
    h1,h2,h3,h4,h5,h6,p,ul,ol {
        margin-top: 0;
    }
    %no-link {
        color: $c-text;
        a {
            color: inherit;

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
    }
    %hero-text {
        color: $c-main;
        font-family: $f-title;
    }
    .brand {
        text-align: center;
        @include font($base-font-size);
    }
    .brand__hello {
        display: block;
        font-family: $f-cursive;
        @include font(79px);
        line-height: 0.781;
        font-weight: normal;
    }
    .brand__my-name {
        display: inline-block;
        font-family: $f-serifDisplay;
        @include font(32px);
        line-height: 1.389;
        font-style: italic;
        font-weight: normal;
        position: relative;

        &:before,
        &:after {
            background: $c-text;
            content: '';
            display: block;
            margin: 0 auto;
            position: absolute;
                top: 50%;
            width: 80%;
            height: 1px;
        }
        &:before { left: -90%; }
        &:after { right: -90%; }
    }
    .brand__name {
        @extend %hero-text;
        display: block;
        @include font(101px);
        line-height: 1;
        font-weight: normal;
        text-transform: uppercase;
    }
    .mail {
        span {
            display: block;
            font-family: $f-serifDisplay;
            @include font(32px, 1);
            font-style: italic;
            font-weight: normal;
        }
        a {
            @extend %hero-text;
            @include font(57px);
            font-weight: normal;
            text-decoration: none;
            text-transform: lowercase;
        }
    }
    p {
        margin-bottom: 1em;
    }
    a {
        color: $c-link;
        font-family: $f-link;
        @include font(16px);
        text-transform: uppercase;
        text-decoration: none;
        @include transition(all .6s ease-out);

        &:hover {
            color: $c-hover;
        }
    }