/* =GENERAL LAYOUT
-------------------------------------------------------------------------- */
*
*:before,
*:after {
    @include box-sizing(border-box);
}
body {
    background: #fff url(../img/paper_fibers.png);
    margin: 0;
    @include vrm(padding, 2, .5);
}

.brand {
    @include vrm(margin-bottom, 1);
}
.main-content {
    @include vrm(margin-bottom, 2);
}
.intro {
    border-bottom: 1px solid $c-neutro;
    @include vrm(margin-bottom, 1);
}
.mail {
    clear: both;
    text-align: center;
}

/* ===================== MEDIA QUERIES ===================== */

@media screen and (min-width: $wider-body-margins) {
    body {
        @include vrm(padding, 2, 1);
    }
    .main-wrapper {
        margin: 0 auto;
        max-width: 33em;
    }
}
@media screen and (min-width: $two-columns-layout) {
    .main-wrapper {
        margin: 2.469em auto;
        max-width: 65em;
    }
    .brand,
    .main-content {
        margin-bottom: 3.161em;
    }
    .main-content {
        @include cf;
    }
    .intro {
        border: 0;
        @include span-columns(5);
        @include pull(8);
    }
    .social {
        @include span-columns(5 omega);
    }
    .intro,
    .social {
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}