// ============== [ INDEX ] ==============
//
//  1 - Vertical Rythm
//      1.1 - Vertical Rythm magic number function
//      1.2 - Vertical Rythm (rem + px)
//
//  2 - Typography
//      2.1 - Fonts Sizes (rem + px)
//      2.2 - Line height
//
//  3 - Helpers
//
// ========================================


// =1 - Vertical Rythm
// -------------------------------------------------------------------------- */
    // =1.1 - Vertical Rythm magic number function
    // ------------------------------------------------------ */
    @function vertical-rythm-unit() {
        $rythm: ($font-size/1px) * $line-height;
        @return floor($rythm);
    }
    $vrmu: vertical-rythm-unit();


    // =1.2 - Vertical Rythm (rem + px)
    // ------------------------------------------------------ */
    @function vrm-to-rem($multip) {
        @if type-of($multip) == number {
            @return (($vrmu * $multip+0px)/16px)+0rem;
        } @else {
            @return $multip;
        }
    }
    @function vrm-to-px($multip) {
        @if type-of($multip) == number {
            @return $vrmu * $multip+0px;
        } @else {
            @return $multip;
        }
    }
    @mixin vrm($property, $multipliers) {
        $px_values: ();
        $rem_values: ();

        @each $value in $multipliers {
            $px_values: append($px_values, vrm-to-px($value));
            $rem_values: append($rem_values, vrm-to-rem($value));
        }

        #{$property}: $px_values;
        #{$property}: $rem_values;
    }

// =2 - Typography
// -------------------------------------------------------------------------- */
    // =2.1 - Fonts Sizes (rem + px)
    // ------------------------------------------------------ */
    @mixin font($size, $line-height: "") {
        font-size: $size;
        font-size: $size/16px+0rem;
        @if $line-height != "" {
            line-height: ($vrmu * $line-height) / ($size/1px);
        }
    }

    // =2.2 - Line height
    // ------------------------------------------------------ */
    @mixin line-h($size, $multip: 1) {
        line-height: ($vrmu * $multip) / ($size/1px);
    }

// =3 - Helpers
// -------------------------------------------------------------------------- */
    // =3.1 - Image replacement
    // ------------------------------------------------------ */
    @mixin ir {
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;

        .lt-ie8 & {
            text-indent: -100%;
        }
    }

    // =3.2 - Clearfix
    // ------------------------------------------------------ */
    // + info: http://nicolasgallagher.com/micro-clearfix-hack/
    @mixin cf {
        *zoom: 1; // IE6/7 support

        &:before,
        &:after {
            content: "";
            display: block;
        }
        &:after {
            clear: both;
        }
    }