// ============== [ INDEX ] ==============
//
//  Grid Settings
//
//  Typography
//      Font familys
//      Line height
//
//  Colors
//      Main colors
//
//  Mediaqueries
//
// ========================================

// =Grid Settings
// ---------------------------------------------------------------------------
$column-width: 2em;
$gutter-width: 1em;
$total-columns: 13;

$susy: (
  columns: 13,
  gutters: 1/2,
  column-width: 2em
  // debug: (
  //     image: show,
  //     output: overlay,
  //     toggle: top right
  // )
);

// =Typography
// ----------------------------------------------------------------------------
    // =Font familys
    // ------------------------------------------------------
    $f-sansText: 'PT Sans', 'Rambla','Sintony','PT Mono', sans-serif;
    $f-sansDisplay: 'League Gothic', Impact, sans-serif;
    $f-serifText: 'Gentium Book Basic', serif;
    $f-serifDisplay: 'Gentium Book Basic', serif;
    $f-cursive: 'Cookie', cursive;

    $f-text: $f-serifText;
    $f-title: $f-sansDisplay;
    $f-link: $f-sansText;

    // =Font size
    // ------------------------------------------------------
    // vertical rythm unit: 24;
    $font-size: 16px;

    //$font-size-rem: ($base-font-size/16px)+rem;
    $line-height: 1.4;



// =Colors
// ----------------------------------------------------------------------------
    // =Main colors
    // ------------------------------------------------------
    $c-main: #D07C3F;
    $c-mainDark: #CC6E28;
    $c-secondary: #0E7983;

    $c-neutroDarkest: #341c00;
    $c-neutro: #CFC7BC;

    $c-text: $c-neutroDarkest;
    $c-link: $c-mainDark;
    $c-hover: $c-secondary;

// =Mediaqueries
// ----------------------------------------------------------------------------
    $wider-body-margins: 400px;
    $two-columns-layout: 1190px;

    $brand-fix-fontsize: 550px;

    $ballon-appear: 280px;
    $portrait-big: 370px;
    $portrait-bigger: 540px;
    $portrait-biggest: 650px;
