
// ============== [ INDEX ] ==============
//
//  Grid Settings
//
//  Typography
//      Font familys
//      Line height
//
//  Colors
//      Main colors
//
//  Mediaqueries
//
// ========================================

// =Grid Settings
// -------------------------------------------------------------------------- */
$column-width: 2em;
$gutter-width: 1em;
$total-columns: 13;

// =Typography
// -------------------------------------------------------------------------- */
    // =Font familys
    // ------------------------------------------------------ */
    $f-sansText: 'PT Sans', 'Rambla','Sintony','PT Mono', sans-serif;
    $f-sansDisplay: 'League Gothic', Impact, sans-serif;
    $f-serifText: 'Gentium Book Basic', serif;
    $f-serifDisplay: 'Gentium Book Basic', serif;
    $f-cursive: 'Cookie', cursive;

    $f-text: $f-serifText;
    $f-title: $f-sansDisplay;
    $f-link: $f-sansText;

    // =Font size
    // ------------------------------------------------------ */
    // vertical rythm unit: 24;
    $base-font-size: 18px;

    //$base-font-size-rem: ($base-font-size/16px)+rem;
    $base-line-height: 1.4;



// =Colors
// -------------------------------------------------------------------------- */
    // =Main colors
    // ------------------------------------------------------ */
    $c-main: #D07C3F;
    $c-mainDark: #CC6E28;
    $c-secondary: #0E7983;

    $c-text: #341c00;
    $c-link: $c-mainDark;
    $c-hover: $c-secondary;
