
// ============== [ INDEX ] ==============
//
//  Grid Settings
//
//  Typography
//      Font familys
//      Line height
//
//  Colors
//      Main colors
//
//  Mediaqueries
//
// ========================================

// =Grid Settings
// -------------------------------------------------------------------------- */
$column-width: 2em;
$gutter-width: 1em;
$total-columns: 12;

// =Typography
// -------------------------------------------------------------------------- */
    // =Font familys
    // ------------------------------------------------------ */
    $f-sansText: 'PT Mono', sans-serif;
    $f-sansDisplay: 'League Gothic', Impact, sans-serif;
    $f-serifText: 'Vollkorn', serif;
    $f-serifDisplay: 'Gentium Book Basic', serif;
    $f-cursive: 'Cookie', cursive;

    $f-text: $f-serifText;
    $f-title: $f-sansDisplay;
    $f-link: $f-sansText;

    // =Font size
    // ------------------------------------------------------ */
    // vertical rythm unit: 24;
    $base-font-size: 18px;

    //$base-font-size-rem: ($base-font-size/16px)+rem;
    $base-line-height: 1.4;



// =Colors
// -------------------------------------------------------------------------- */
    // =Main colors
    // ------------------------------------------------------ */
    $c-main: #e4aa00;
    $c-main: #F02311;
    $c-main: #02779E;
    $c-main: #47778E;
    $c-main: #1693A5;
    $c-main: #E45635;
    $c-mainDark: darken($c-main, 10%);

    $c-text: #222;
    $c-hover: $c-mainDark;