
.icon-ballon:after,
.is--ballon:before {
	background-image: url('png/ballon.png');
	background-repeat: no-repeat;
}

.icon-coches:after,
.is--coches:before {
	background-image: url('png/coches.png');
	background-repeat: no-repeat;
}

.icon-codepen:after,
.is--codepen:before {
	background-image: url('png/codepen.png');
	background-repeat: no-repeat;
}

.icon-github:after,
.is--github:before {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

.icon-linkedin:after,
.is--linkedin:before {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}

.icon-schibsted:after,
.is--schibsted:before {
	background-image: url('png/schibsted.png');
	background-repeat: no-repeat;
}

.icon-twitter:after,
.is--twitter:before {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}
